## Midterm Exam #1
    tyler avery 1001734381

## Exercise 1

In [5]:
def returnprod():
    print("\tThis is a calculator that gives you the Product of three numbers,\n\tbelow you will be asked to input whichever numbers you'd like.\n\tIntegers or Float values only!\n")
    n_1 = float(input("Please enter your first number: "))
    n_2 = float(input("Please enter your second number: "))
    n_3 = float(input('Please enter your third number: '))
    return n_1*n_2 *n_3

In [6]:
returnprod()

	This is a calculator that gives you the Product of three numbers,
	below you will be asked to input whichever numbers you'd like.
	Integers or Float values only!

Please enter your first number: 1
Please enter your second number: 45
Please enter your third number: 2

90.0

In [7]:
returnprod()

	This is a calculator that gives you the Product of three numbers,
	below you will be asked to input whichever numbers you'd like.
	Integers or Float values only!

Please enter your first number: Steve

ValueError: could not convert string to float: 'Steve'

### Problem 2

In [20]:

def a(n):
    if not isinstance(n,int):
        print("Error, please give me an integer.")
    
    sequence = [1,2]
    for k in range(2,n+1):
        sequence.append(sequence[-1]-sequence[-2])**2)/3)
    return sequence

In [22]:
a(5)

[1,
 2,
 0.3333333333333333,
 0.925925925925926,
 0.11705532693187022,
 0.21809054863900088]

In [77]:
# Write your function here
def recursive(n):
    if not isinstance(n,int):
        print("Error, please give me an integer.")
    
    sequence = [1,3]
    re = (((sequence[-1] - sequence[-2])**2)/3)
    for k in range(2,n+1):
        sequence.append(re)
    return sequence

In [74]:
recursive(4)

[1, 3, 1.3333333333333333, 1.3333333333333333, 1.3333333333333333]

In [87]:
# Write your function here
def recursive(n):
 
    sequence = [1,3]
    for k in range(2,n+1):
        sequence.append(((sequence[-1]-sequence[-2])**2)/3)
    return sequence

In [88]:
recursive(5)

[1,
 3,
 1.3333333333333333,
 0.925925925925926,
 0.0553269318701417,
 0.25264753615031454]

### Problem 3

### Problem 4

In [380]:
    
marvel = [('Thor', 'August',10),
            ('Phil Coulson','July',8),
            ('T\'Challa','November',29),
            ('Peter Parker','August',10),
            ('Tony Stark', 'March', 14)]
    
def birthdayychecker(bday):
    #Using a 1D array like its a 2D array
    #Bc its a list of lists, we can go through each row, but we are only worried about month and day
    for i in range(len(bday)):
        for j in range(i+1, len(bday)):
            if bday[i][1] == bday[j][1] and bday[i][2] == bday[j][2]:
                return True
            return False

In [381]:
birthdayychecker(marvel)

False

In [372]:
    
geminis = [('Kanye West', 'June',8),
            ('Johhny Depp','June',9),
            ('Genghis Khan','May',31),
            ('Tupac Shakur','June',16),
            ('Ice Cube', 'June', 15)]
    
def birthdayychecker(bday):
    #Using a 1D array like its a 2D array
    #Bc its a list of lists, we can go through each row, but we are only worried about month and day
    for i in range(len(bday)):
        for j in range(i+1, len(bday)):
            if bday[i][1] == bday[j][1] and bday[i][2] == bday[j][2]:
                return True
            return False

In [373]:
birthdayychecker(geminis)

False

In [376]:
    
bday = [('Kanye West', 'June',8),
            ('Johhny Depp','June',9),
            ('Tyler Avery','June',13),
            ('Tupac Shakur','June',16),
            ('Chris Evans', 'June', 13)]
    
def birthdayychecker(bday):
    #Using a 1D array like its a 2D array
    #Bc its a list of lists, we can go through each row, but we are only worried about month and day
    for i in range(len(bday)):
        for j in range(i+1, len(bday)):
            if bday[i][1] == bday[j][1] and bday[i][2] == bday[j][2]:
                return True
            return False

In [377]:
birthdayychecker(bday)

False

### Problem 5

In [286]:
#For starters, we want our string to be a list.
l = "Supercalifragilisticexpialidocious"
str2 = 'i'
def strparse(str1,str2):
    return_string = ""
    remove_token = ''
    for i in str1:
        if i == str2:
            i = remove_token
        return_string+=i
    print(return_string)

In [287]:
strparse(l,token)

Supercalfraglstcexpaldocous

In [371]:
l = ["data","3401","introduction", "to", "python","for","data","science"]
str2 = ["data"]
def strparse_bonus(str1,str2):
    return_string = ""

    for word in list(str1):
        if word in list(str2):
            str1.remove(word)
    return str1

In [370]:
strparse_bonus(l,str2)

['3401', 'introduction', 'to', 'python', 'for', 'science']